<input type="text" [(ngModel)]="searchText" placeholder="Rechercher par adresse" />

<div *ngFor="let residence of filteredResidences">
  <h3>{{ residence.name }}</h3>
  <img [src]="residence.image" alt="{{ residence.name }}" width="150">
  <p>
    Statut :
    <span *ngIf="residence.status === 'Disponible'" style="color: green;">Disponible</span>
    <span *ngIf="residence.status === 'En Construction'" style="color: orange;"> En Construction</span>
    <span *ngIf="residence.status === 'Vendu'" style="color: red;"> Vendu</span>
  </p>
  
  <button (click)="showLocation(residence.address)">Show Location</button>
  <button (click)="addToFavorites(residence)">Like </button>
</div>

<h2>Favoris</h2>
<ul>
  <li *ngFor="let fav of favorites">{{ fav.name }}</li>
</ul>
